In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pandas_datareader as pdr
import matplotlib as plt
import openpyxl as opl
import statistics as st
import scipy as sp

In [20]:
portfolio = pd.read_csv('25_Portfolios_5x5.csv',parse_dates= True,index_col='DATE',infer_datetime_format=True)
portfolio.index = pd.to_datetime(portfolio.index,format="%Y%m")

### COMPUTE MONTHLY AVERAGE RETURNS AND CREATE TABLE

In [25]:
p_return = pd.DataFrame()
p_return['SUM'] = round(portfolio.mean(axis = 0),2)

In [68]:
def create_table(values_df,columns=['LoBM', 'BM2', 'BM3', 'BM4', 'HiBM'],indices = ['SMALL', 'ME2', 'ME3', 'ME4', 'BIG']):
    table = pd.DataFrame(columns=columns)
    for i in range(0,len(p_return),5):
        row = pd.DataFrame(values_df.iloc[i:i+5].T.values,columns=columns)
        table = table.append(row)

    table.index = indices
    return(table)

In [69]:
#creates return table from sum table
p_return_table = create_table(p_return)
p_return_table

       LoBM   BM2   BM3   BM4  HiBM
SMALL  0.76  1.24  1.20  1.39  1.51
ME2    0.97  1.21  1.26  1.28  1.41
ME3    0.97  1.20  1.14  1.27  1.38
ME4    1.07  1.05  1.10  1.22  1.25
BIG    0.96  0.94  0.97  0.89  1.05

### COMPUTE MONTHLY BETA RETURNS AND CREATE TABLE

In [61]:
mkt_return = pd.DataFrame()
mkt_return['SUM'] = portfolio.mean(axis = 1)

In [62]:
beta = []
for i in portfolio.columns:
    cov_returns_i = np.cov(portfolio[i], mkt_return['SUM'])
    cov_returns_i = pd.DataFrame(cov_returns_i)
    beta_i = round(cov_returns_i.iloc[0,1]/cov_returns_i.iloc[1,1],2)
    beta.append(beta_i)

beta = pd.DataFrame(beta)

In [70]:
#creates beta table from sum table
beta_table = create_table(beta)
beta_table

       LoBM   BM2   BM3   BM4  HiBM
SMALL  1.36  1.21  1.10  1.05  1.10
ME2    1.27  1.12  1.03  0.99  1.14
ME3    1.16  1.03  0.93  0.93  1.05
ME4    1.02  0.94  0.90  0.90  1.01
BIG    0.73  0.74  0.69  0.75  0.86

### COMPUTE PORTFOLIOS STDEV

In [72]:
stdev = []
for i in portfolio.columns:
    stdev_returns_i = round(np.sqrt(st.variance(portfolio[i])),2)
    stdev.append(stdev_returns_i)

stdev = pd.DataFrame(stdev)

In [73]:
#creates return table from sum table
stdev_table = create_table(stdev)
stdev_table

       LoBM   BM2   BM3   BM4  HiBM
SMALL  7.96  6.97  6.05  5.84  6.30
ME2    7.16  6.04  5.52  5.36  6.22
ME3    6.56  5.51  5.03  5.10  5.86
ME4    5.83  5.13  4.97  5.04  5.81
BIG    4.62  4.40  4.31  4.75  5.64

### COMPUTE PORTFOLIOS SHARPE RATIOS

In [76]:
risk_free = pd.read_csv(r'RF_Data.csv',parse_dates= True,index_col='DATE',infer_datetime_format=True)
avg_risk_free = risk_free['RF'].mean()

In [78]:
avg_returns = []
for i in portfolio.columns:
    avg_returns_i = round(np.mean(portfolio[i]),2)
    avg_returns.append(avg_returns_i)

avg_returns = pd.DataFrame(avg_returns)

In [79]:
#creates return table from sum table
avg_returns_table = create_table(avg_returns)
avg_returns_table

       LoBM   BM2   BM3   BM4  HiBM
SMALL  0.76  1.24  1.20  1.39  1.51
ME2    0.97  1.21  1.26  1.28  1.41
ME3    0.97  1.20  1.14  1.27  1.38
ME4    1.07  1.05  1.10  1.22  1.25
BIG    0.96  0.94  0.97  0.89  1.05

In [80]:
sharpe_ratio = []
for i in range(0,5):
    for j in range(0,5):
        sharpe_ratio_ij = round((avg_returns_table.iloc[i,j] - avg_risk_free)/stdev_table.iloc[i,j],2)
        sharpe_ratio.append(sharpe_ratio_ij)
    
sharpe_ratio = pd.DataFrame(sharpe_ratio)

In [82]:
#creates return table from sum table
sharpe_ratio_table = create_table(sharpe_ratio)
sharpe_ratio_table

       LoBM   BM2   BM3   BM4  HiBM
SMALL  0.05  0.12  0.14  0.17  0.18
ME2    0.08  0.14  0.16  0.17  0.17
ME3    0.09  0.15  0.15  0.18  0.17
ME4    0.12  0.13  0.15  0.17  0.15
BIG    0.13  0.13  0.14  0.11  0.12

COMPUTE T-STATISTICS FOR EACH PORTFOLIO

In [83]:
true_mean = 0
t_statistic = []
for i in range(0,5):
    for j in range(0,5):
        t_ij = round((avg_returns_table.iloc[i,j] - true_mean)/stdev_table.iloc[i,j],2)
        t_statistic.append(t_ij)

t_statistic = pd.DataFrame(t_statistic)

In [84]:
#creates return table from sum table
t_stat_table = create_table(t_statistic)
t_stat_table

       LoBM   BM2   BM3   BM4  HiBM
SMALL  0.10  0.18  0.20  0.24  0.24
ME2    0.14  0.20  0.23  0.24  0.23
ME3    0.15  0.22  0.23  0.25  0.24
ME4    0.18  0.20  0.22  0.24  0.22
BIG    0.21  0.21  0.23  0.19  0.19

In [88]:
q5_minus_q1 = portfolio['BIG HiBM'] - portfolio['SMALL LoBM']
avg_q5_minus_q1 = np.mean(q5_minus_q1)
stdev_q5_minus_q1 = np.sqrt(st.variance(q5_minus_q1))