In [172]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pandas_datareader as pdr
import matplotlib as plt
import openpyxl as opl
import statistics as st
import scipy as sp

In [173]:
portfolio = pd.read_excel(r'C:\Users\aless\OneDrive\Desktop\Oxford\Courses\Asset Pricing\Assignment I\25_Portfolios_5x5.xlsx', nrows= 1146, skiprows = 15, index_col = 0, parse_dates= True)

In [174]:
portfolio = pd.DataFrame(portfolio)
portfolio.index.names = ['DATE']

CHANGE DATE INTO INTEGERS AND FORMAT AS YYYY/MM/DD

In [175]:
portfolio.index.astype(int)
portfolio.index // 100
portfolio.index %100

dates = []
for value in portfolio.index:
    year = value // 100
    month = value % 100
    dates.append(pd.Timestamp(year=year, month=month, day=1))
portfolio.index = dates

COMPUTE MONTHLY AVERAGE RETURNS AND CREATE TABLE

In [176]:
p_return = pd.DataFrame()
p_return['SUM'] = round(portfolio.mean(axis = 0),2)

In [177]:
p_return_table = pd.DataFrame()
for i in range(0,21,5):
    p_return_row = p_return.iloc[i:i+5].T
    p_return_table = pd.concat([p_return_table, p_return_row])

for i in range(0,5):
    p_return_table.iloc[i,0:5] = p_return_table.iloc[i,5*i:5*(i+1)]

p_return_table = p_return_table.iloc[:,:5]
p_return_table.columns = ['LoBM', 'BM2', 'BM3', 'BM4', 'HiBM']
p_return_table.index = ['SMALL', 'ME2', 'ME3', 'ME4', 'BIG']
p_return_table

       LoBM   BM2   BM3   BM4  HiBM
SMALL  0.76  1.24  1.20  1.39  1.51
ME2    0.97  1.21  1.26  1.28  1.41
ME3    0.97  1.20  1.14  1.27  1.38
ME4    1.07  1.05  1.10  1.22  1.25
BIG    0.96  0.94  0.97  0.89  1.05

COMPUTE MONTHLY BETA RETURNS AND CREATE TABLE

In [178]:
mkt_return = pd.DataFrame()
mkt_return['SUM'] = portfolio.mean(axis = 1)

In [191]:
beta = []
for i in portfolio.columns:
    cov_returns_i = np.cov(portfolio[i], mkt_return['SUM'])
    cov_returns_i = pd.DataFrame(cov_returns_i)
    beta_i = round(cov_returns_i.iloc[0,1]/cov_returns_i.iloc[1,1],2)
    beta.append(beta_i)

beta = pd.DataFrame(beta)

In [192]:
beta_table = pd.DataFrame()
for i in range(0,21,5):
    beta_row = beta.iloc[i:i+5].T
    beta_table = pd.concat([beta_table, beta_row])

for i in range(0,5):
    beta_table.iloc[i,0:5] = beta_table.iloc[i,5*i:5*(i+1)]

beta_table = beta_table.iloc[:,:5]
beta_table.columns = ['LoBM', 'BM2', 'BM3', 'BM4', 'HiBM']
beta_table.index = ['SMALL', 'ME2', 'ME3', 'ME4', 'BIG']
beta_table

       LoBM   BM2   BM3   BM4  HiBM
SMALL  1.36  1.21  1.10  1.05  1.10
ME2    1.27  1.12  1.03  0.99  1.14
ME3    1.16  1.03  0.93  0.93  1.05
ME4    1.02  0.94  0.90  0.90  1.01
BIG    0.73  0.74  0.69  0.75  0.86

COMPUTE PORTFOLIOS STDEV

In [181]:
stdev = []
for i in portfolio.columns:
    stdev_returns_i = round(np.sqrt(st.variance(portfolio[i])),2)
    stdev.append(stdev_returns_i)

stdev = pd.DataFrame(stdev)

In [182]:
stdev_table = pd.DataFrame()
for i in range(0,5):
    stdev_row = stdev.iloc[5*i:5*(i+1)].T
    stdev_table = pd.concat([stdev_table, stdev_row])

for i in range(0,5):
    stdev_table.iloc[i,0:5] = stdev_table.iloc[i,5*i:5*(i+1)]

stdev_table = stdev_table.iloc[:,:5]
stdev_table.columns = ['LoBM', 'BM2', 'BM3', 'BM4', 'HiBM']
stdev_table.index = ['SMALL', 'ME2', 'ME3', 'ME4', 'BIG']
stdev_table

       LoBM   BM2   BM3   BM4  HiBM
SMALL  7.96  6.97  6.05  5.84  6.30
ME2    7.16  6.04  5.52  5.36  6.22
ME3    6.56  5.51  5.03  5.10  5.86
ME4    5.83  5.13  4.97  5.04  5.81
BIG    4.62  4.40  4.31  4.75  5.64

COMPUTE PORTFOLIOS SHARPE RATIOS

In [183]:
risk_free = pd.read_excel(r'C:\Users\aless\OneDrive\Desktop\Oxford\Courses\Asset Pricing\Assignment I\RF_Data.xlsx', nrows= 1146, skiprows = 0, index_col = 0, parse_dates= True)
avg_risk_free = risk_free['RF'].mean()

In [184]:
avg_returns = []
for i in portfolio.columns:
    avg_returns_i = round(np.mean(portfolio[i]),2)
    avg_returns.append(avg_returns_i)

avg_returns = pd.DataFrame(avg_returns)

In [185]:
avg_returns_table = pd.DataFrame()
for i in range(0,5):
    avg_returns_row = avg_returns.iloc[5*i:5*(i+1)].T
    avg_returns_table = pd.concat([avg_returns_table, avg_returns_row])

for i in range(0,5):
    avg_returns_table.iloc[i,0:5] = avg_returns_table.iloc[i,5*i:5*(i+1)]

avg_returns_table = avg_returns_table.iloc[:,:5]
avg_returns_table.columns = ['LoBM', 'BM2', 'BM3', 'BM4', 'HiBM']
avg_returns_table.index = ['SMALL', 'ME2', 'ME3', 'ME4', 'BIG']
avg_returns_table

       LoBM   BM2   BM3   BM4  HiBM
SMALL  0.76  1.24  1.20  1.39  1.51
ME2    0.97  1.21  1.26  1.28  1.41
ME3    0.97  1.20  1.14  1.27  1.38
ME4    1.07  1.05  1.10  1.22  1.25
BIG    0.96  0.94  0.97  0.89  1.05

In [186]:
sharpe_ratio = []
for i in range(0,5):
    for j in range(0,5):
        sharpe_ratio_ij = round((avg_returns_table.iloc[i,j] - avg_risk_free)/stdev_table.iloc[i,j],2)
        sharpe_ratio.append(sharpe_ratio_ij)
    
sharpe_ratio = pd.DataFrame(sharpe_ratio)

In [187]:
sharpe_ratio_table = pd.DataFrame()
for i in range(0,5):
    sharpe_ratio_row = sharpe_ratio.iloc[5*i:5*(i+1)].T
    sharpe_ratio_table = pd.concat([sharpe_ratio_table, sharpe_ratio_row])

for i in range(0,5):
    sharpe_ratio_table.iloc[i,0:5] = sharpe_ratio_table.iloc[i,5*i:5*(i+1)]

sharpe_ratio_table = sharpe_ratio_table.iloc[:,:5]
sharpe_ratio_table.columns = ['LoBM', 'BM2', 'BM3', 'BM4', 'HiBM']
sharpe_ratio_table.index = ['SMALL', 'ME2', 'ME3', 'ME4', 'BIG']
sharpe_ratio_table

       LoBM   BM2   BM3   BM4  HiBM
SMALL  0.05  0.12  0.14  0.17  0.18
ME2    0.08  0.14  0.16  0.17  0.17
ME3    0.09  0.15  0.15  0.18  0.17
ME4    0.12  0.13  0.15  0.17  0.15
BIG    0.13  0.13  0.14  0.11  0.12

COMPUTE T-STATISTICS FOR EACH PORTFOLIO

In [188]:
true_mean = 0
t_statistic = []
for i in range(0,5):
    for j in range(0,5):
        t_ij = round((avg_returns_table.iloc[i,j] - true_mean)/stdev_table.iloc[i,j],2)
        t_statistic.append(t_ij)

t_statistic = pd.DataFrame(t_statistic)

In [189]:
t_statistic_table = pd.DataFrame()
for i in range(0,5):
    t_statistic_row = t_statistic.iloc[5*i:5*(i+1)].T
    t_statistic_table = pd.concat([t_statistic_table, t_statistic_row])

for i in range(0,5):
    t_statistic_table.iloc[i,0:5] = t_statistic_table.iloc[i,5*i:5*(i+1)]

t_statistic_table = t_statistic_table.iloc[:,:5]
t_statistic_table.columns = ['LoBM', 'BM2', 'BM3', 'BM4', 'HiBM']
t_statistic_table.index = ['SMALL', 'ME2', 'ME3', 'ME4', 'BIG']
t_statistic_table

       LoBM   BM2   BM3   BM4  HiBM
SMALL  0.10  0.18  0.20  0.24  0.24
ME2    0.14  0.20  0.23  0.24  0.23
ME3    0.15  0.22  0.23  0.25  0.24
ME4    0.18  0.20  0.22  0.24  0.22
BIG    0.21  0.21  0.23  0.19  0.19

In [190]:
q5_minus_q1 = portfolio['BIG HiBM'] - portfolio['SMALL LoBM']
avg_q5_minus_q1 = np.mean(q5_minus_q1)
stdev_q5_minus_q1 = np.sqrt(st.variance(q5_minus_q1))

t_statistic_q5_minus_q1

NameError: name 't_statistic_q5_minus_q1' is not defined